<mat-nav-list>
  <div class="logo py-4">
    <img src="./assets/images.jpg" alt="Logo" />
  </div>
  <mat-divider></mat-divider>
  <h1 matSubheader class="mt-2">menu</h1>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
    <mat-icon>dashboard</mat-icon> dashboard
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
    <mat-icon>face</mat-icon> cosulter les employées
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/groupes"> <mat-icon>people</mat-icon> cosulter les groupes </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/structure"> <mat-icon>account_balance</mat-icon> cosulter les structures </a>
</mat-nav-list>