<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Ajouter votre nouveaux employé</div>
    <div class="page__content shadow p-3 position-relative"> 
        <div class="cards">
            <div class ="Column">
                <div class="card border border-primary card-stats">
                    <div class="card-header card-header-icon">
                        <div class="card-icon" style ="color:darkblue;">
                            <mat-icon>group_add</mat-icon>
                        </div>
                        <div class="card-category" style ="width:60% ; color:darkblue;">
                          <h5>remplire la formulaire</h5> 
                        </div>
                        <mat-divider></mat-divider>
                        <form style="margin-top: 20px;">
                            <div class="form-group">
                              <h6>Nom en fr</h6>
                              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="le nom de l'employée">
                            </div>
                            <div class="form-group">
                              <h6>Nom en arabe</h6>
                              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="le nom de l'employée">
                            </div>
                            <div class="form-group">
                              <h6>prenom en fr</h6>
                              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="prenom de l'employée">
                            </div>
                            <div class="form-group">
                                <h6>prenom en arabe</h6>
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="prenom de l'employée">
                              </div>
                            <div class="form-group">
                              <h6>id</h6>
                              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Id">
                            </div>
                            <div class="form-group">
                              <h6>address mail</h6>
                              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="email">
                            </div>
                            <div class="form-group">
                                <h6>Numéro</h6>
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="numéro">
                              </div>
                          </form>
                    </div> 
                    <div class="modal-footer">
                        <button class="btn btn-outline-primary mb-2"> effectuer</button>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>
