@import "../home/home.component.scss";

.cards{
    width : 40%;
}
form {
    width: 550px;
    height: 450px;
    margin-left: 25px;
    position: relative;
   }
input {
    width: 400px;
    height: 30px;
   }
   